body {
    height: 100vh;
}

#content {
    display: flex;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
}

#content > div {
    align-self: center;
}

#content > div > p {
    margin: 35px;
    text-align: center;
}