.libre-franklin-bold {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
    --base_color: #FFFFFF;
    --action_color: #43AA8B;
    --fore_color: #40493C;
    --primary_color: #254441;
    --accent_color: #C70000;
    --slide_speed: 750ms;
    
    /* --primary_deep: #1F4D3A;
    --primary_base: #3E6F57;
    --primary_soft : #7FA48F;
    --primary_pale : #C9DAD1;
    --accent: #D65A4F; */
}


body {
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--base_color);
    color: var(--fore_color);
}

body > section {
    padding: 20px;
    border-radius: 5px;
}

body > section:first-of-type {
    margin-top: 90px !important;
}

body > section:nth-of-type(odd) {
    background-color: var(--primary_color);
    color: var(--base_color);
}

body > section:nth-of-type(even) {
    background-color: var(--base_color);
    color: var(--fore_color);
}

h1::before {
    content: "| ";
    color: var(--accent_color);
}

h1::after {
    content: " |";
    visibility: hidden;
}

h1 {
    text-align: center;
    font-size: 22px;;
}

h2 {
    font-size: 20px;
}

p {
    font-weight: 500;
    font-size: 13px;
}

br {
    margin-bottom: 5px;
}

.link_button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--action_color);
    color: var(--base_color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 1;
}

header > #contacts {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: var(--base_color);
    background: var(--action_color);
    height: fit-content;
    box-sizing: border-box;
    align-items: center;
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: smaller;
}

header > #menu_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    padding: 0 10px;
    color: var(--base_color);
    background: var(--primary_color);
    align-items: center;
    box-shadow: 0 5px 10px #0005;
    border-radius: 0 0 5px 5px;
}

header > #menu_bar > #branding {
    text-decoration: none;
    color: var(--base_color);
    background: none;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    border-radius: 0;
}

header > #menu_bar > button {
    color: inherit;
    text-decoration: none;
    background: none;
    border: none;
}

@media (pointer:fine) {
    body > section:nth-of-type(even)  {
        padding: 20px 25vw;
        box-sizing: content-box;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    header > #menu_bar {
        height: 60px;
    }
}